---
import sombrilla from "../../assets/sombrilla.png";
import ServicesLayout from "../../layouts/ServicesLayout.astro";

const { title, description } = Astro.props;
---

<ServicesLayout
    title="Immigration services: Simplifying your journey in Mexico"
    description="Expert guidance through residency processes, and legal requirements. Personalized solutions for a seamless immigration experience in Mexico."
    img={sombrilla}
    alt="Sombrilla"
>
    <img src="/sellos.png" alt="sellos" class="mx-auto mb-12" />
    <h2>Immigration services/proceeding</h2>
    <p>
        The journey to residency in Mexico, whether temporary or permanent, is
        filled with legal nuances and procedural requirements. PVR Legal’s team
        excels in managing the entire spectrum of immigration services, from
        initial visa applications and renewals to handling all necessary legal
        proceedings. Our expertise ensures a smooth transition for those seeking
        to make Puerto Vallarta and Nuevo Nayarit their home or workplace,
        affirming our reputation as the best immigration service provider in the
        area.
    </p>
    <ul>
        <li>Temporal and permanent residency</li>
        <li>Work Permit</li>
        <li>Naturalization and Citizenship services</li>
    </ul>
</ServicesLayout>
