---

import bandera from "../../assets/bandera.png";
import ServicesLayout from "../../layouts/ServicesLayout.astro";

const { title, description } = Astro.props;
---

<ServicesLayout
    title="Expert Legal Services in Puerto Vallarta for All Your Needs"
    description="From contract drafting to real estate law and immigration procedures, our experienced team offers tailored legal solutions to nationals and foreigners in Puerto Vallarta and beyond."
    img={bandera}
    alt="Bandera de Mexico"
>
    <img src="/papel-picado.png" alt="Papel Picado PVR Legal" class="mx-auto" />
    <h2>
        Comprehensive Legal Services in Puerto Vallarta & the Bay of Banderas
    </h2>
    <p>
        In the vibrant city of Puerto Vallarta and its surrounding areas, legal
        matters demand the attention and expertise of seasoned professionals.
        PVR Legal stands as a pillar of legal excellence, offering a spectrum of
        services designed to protect and advance the rights and interests of our
        clients. Our adept team is equipped to handle intricate legal challenges
        across Real Estate Law, Contract Law, and Estate Planning, ensuring you
        receive unparalleled legal support tailored to your needs.
    </p>
    <h2>Real Estate Law</h2>
    <p>
        Puerto Vallarta’s real estate market is dynamic and offers unique
        opportunities and challenges. PVR Legal is your trusted advisor for all
        real estate transactions, providing expert guidance through the
        complexities of buying and selling. Our services extend to detailed
        closing coordination, meticulous drafting, and review of purchase and
        sales contracts, as well as adept navigation of the Restricted Zone
        Trust requirements—a critical aspect for foreign investors looking to
        own property in Puerto Vallarta. Our commitment to precision and due
        diligence makes us the premier choice for real estate legal services,
        ensuring your investments are secure and your transactions are seamless.
    </p>
    <h2>Contract Law</h2>
    <p>
        The foundation of any successful business or personal agreement is a
        solid, legally binding contract. At PVR Legal, we specialize in the art
        of contract law, offering comprehensive services that include the
        drafting and reviewing of offers, lease contracts, and promises of sale.
        Our expertise also extends to the creation of secure power of attorney
        documents, safeguarding your interests and ensuring that all agreements
        are not only compliant with local laws but also strategically aligned
        with your goals. With PVR Legal, you gain the assurance that your
        contracts are constructed on firm legal ground, providing a solid basis
        for your endeavors in Puerto Vallarta.
    </p>
    <h2>Wills and Estate Planning</h2>
    <p>
        Planning for the future is a gesture of care and responsibility towards
        your loved ones. PVR Legal’s wills and estate planning services are
        designed to provide you with peace of mind, knowing your legacy and the
        well-being of your family are in capable hands. We offer tailored
        solutions that include drafting wills, establishing living wills, and
        managing the probate process for expatriates. Our empathetic and
        meticulous approach ensures that your wishes are honored and your family
        is protected, reflecting our commitment to your future and legacy in
        Puerto Vallarta.
    </p>
</ServicesLayout>
