---

import calaverita from "../../assets/calaverita.png";
import ServicesLayout from "../../layouts/ServicesLayout.astro";

const { title, description } = Astro.props;
---

<ServicesLayout
    title="Tax & Financial Services: Reliable Solutions for Your Peace of Mind"
    description="Comprehensive tax advisory and financial planning tailored to your needs. Ensuring compliance and optimal strategies for individuals and businesses in Mexico."
    img={calaverita}
    alt="Calaverita"
>   
    <img src="/atardecer.png" alt="" class="pb-12 mx-auto">    
<h2>Capital gain strategin</h2>
    <p>PVR Legal specializes in delivering customized tax advice catering to the unique challenges faced by professionals, businesses, and expatriates in the area. Our approach goes beyond basic compliance, focusing on strategic capital gain optimization.</p>
    <p>If the sale is recorded in a public deed, you may choose to apply a 35% withholding tax on the gain obtained if there is no proof of residence. This will be a provisional payment subject to review, and deductible expenses can be used.</p>
    <p>25% with holding tax applies on the total income obtained, without any deductions, with the obligation for the acquirer to withhold if they are a resident in the country or a resident abroad with a permanent establishment in the country.</p>
    <p>The exemption is not automatic, you must qualify, and you must prove the qualification. Talk to PVR Legal about the requirements to arrange the strategic that suits better for you.</p>
</ServicesLayout>
