---
import Hero from "../components/Hero.astro";
import Button from "../components/Button.astro";
import Services from "../components/Services.astro"
import Reviews from "../components/Reviews.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
		<Hero />
		<div
			class="relative container mx-auto flex flex-col lg:flex-row gap-12 pt-24 pb-40"
		>
			<div class="lg:w-1/2 ">
				<span class="text-alt3 roboto-condensed-regular font-black uppercase mb-1">Puerto Vallarta's Premier Law Firm</span>
				<h2>Legal Services for Puerto Vallarta & the Bay of Banderas</h2>

				<p class="pb-6">
					At PVR Legal you can trust us to guide you through your legal process, whether you are about to buy your first house or apartment, are looking to settle in Mexico, or are interested in investing in the real estate market.
				</p>
				<Button href="#contact-us" title="Contact Us"  />
			</div>
			<div class="lg:w-1/2 pb-20 lg:pb-0">
				<img
					src="/puerto-vallarta.jpg"
					alt="Puerto Vallarta Letras"
				/>
			</div>
			<div class="absolute -bottom-10 xl:left-32">
				<img src="/iguana.png" alt="Iguana" class=" h:40 md:h-58 xl:h-64" />
			</div>
		</div>
		<div class="bg-alt py-16">
			<div class="container mx-auto flex flex-col-reverse lg:flex-row gap-12 items-center">
				<div class="lg:w-7/12">
					<img
						src="/mapa-jalisco.png"
						alt="Mapa PVR Legal"
						class="w-full"
					/>
				</div>
				<div class="lg:w-5/12 ">
					<h2 >
						Relocating your home is not always an easy task.
					</h2>
					<p >
						Years ago, the founder of PVR Legal underwent a similar relocation process, experiencing firsthand the sense of disorientation that comes with moving to a new country. Adjusting to a different culture, cuisine, traditions, language, and, most importantly, an unfamiliar legal system can be overwhelming.
					</p>
					<p >
						Adding to the complexity are the countless stories heard on the street, through online searches, in chat groups, or from so-called “experts” who seem to have answers to everything. These factors often make it challenging to identify the correct path or reliable solutions.


					</p>
					<p >
						This experience inspired the creation of PVR Legal—a law firm that combines expert legal knowledge with personalized service, tailored to meet the unique needs of each client.
					</p>
				</div>
			</div>
		</div>
		<div class="container mx-auto my-20">
			<h2>Why Choose PVR LEGAL?</h2>
			<p><strong>Experience:</strong> Our team boasts years of experience in helping  in this picturesque region. We understand the local landscape, culture, and unique challenges that come with  legal matters in Puerto Vallarta and the Bay of Banderas.</p>
			<p><strong>Trustworthiness:</strong> We prioritize transparency and integrity throughout the  legal process.</p>
			<p><strong>Talent:</strong> Our attorneys are not just skilled; they are passionate about their profession. We will work tirelessly help you in your new life, paying attention to even the smallest details, talented team of attorneys eager to help you move into your new home paradise.</p>
			<h3>Your Dream Awaits</h3>
			<p>Your dream on relocating in Vallarta or the Bay of Banderas is a step away. Let PVR LEGAL  be your partner in creating  a new life. Contact us to meet our talented team of attorneys eager to help you move into your new home paradise.</p>
		</div>
		<Services title="Your trusted partner for legal and financial services" alt />

		<Reviews />
</MainLayout>
