---
import tortuga from "../../../assets/tortuga.png";
import ServicesLayout from "../../../layouts/ServicesLayout.astro";

---

<ServicesLayout
    title="Servicios fiscales y financieros: soluciones confiables para su tranquilidad"
    description="Asesoría fiscal integral y planeación financiera a la medida de sus necesidades. Garantizamos el cumplimiento y las estrategias óptimas para personas y empresas en México."
    img={tortuga}
    alt="Calaverita"
>
    <img src="/atardecer.png" alt="" class="pb-12 mx-auto" />
    <h2>Estrategia de plusvalía</h2>
    <p>
        PVR Legal se especializa en brindar asesoría fiscal personalizada que
        atiende los desafíos únicos que enfrentan los profesionales, las
        empresas y los expatriados en el área. Nuestro enfoque va más allá del
        cumplimiento básico, enfocándonos en la optimización estratégica de la
        plusvalía.
    </p>
    <p>
        Si la venta se registra en una escritura pública, puede optar por
        aplicar una retención de impuestos del 35% sobre la ganancia obtenida si
        no hay prueba de residencia. Este será un pago provisional sujeto a
        revisión, pudiendo utilizarse como gasto deducible.
    </p>
    <p>
        Se aplica el 25% con retención sobre el total de la renta obtenida, sin
        deducción alguna, con obligación de retención para el adquirente si es
        residente en el país o residente en el exterior con establecimiento
        permanente en el país.
    </p>
    <p>
        La exención no es automática, debes calificar y acreditar la
        calificación. Consulta con PVR Legal los requisitos para organizar la
        estrategia que más te convenga.
    </p>
</ServicesLayout>
