---
import pinata from "../../../assets/pinata.png";
import ServicesLayout from "../../../layouts/ServicesLayout.astro";
---

<ServicesLayout
    title="Servicios administrativos: Agilizamos tus procesos"
    description="Apoyo eficiente para trámites burocráticos, permisos y documentación. Simplificando las tareas administrativas para particulares y empresas en todo México."
    img={pinata}
    alt="Pinata"
>
    <img src="/camion.png" alt="Camion" class="mx-auto mb-12" />
    <p>
        PVR Legal es reconocido no solo por nuestra experiencia legal sino
        también por nuestra gama integral de servicios administrativos diseñados
        para satisfacer las necesidades específicas de particulares y empresas
        en Puerto Vallarta y sus alrededores. Entendemos los desafíos que
        conlleva navegar por los procesos administrativos en México, y nuestro
        equipo dedicado está aquí para brindarle el apoyo y la orientación que
        necesita para manejar los trámites, certificaciones y cumplimiento
        normativo esenciales con confianza.
    </p>
    <ul>
        <li>Licencia de conducir</li>
        <li>Obtención de apostillas para documentos mexicanos</li>
        <li>Obtención de RFC (número de identificación fiscal mexicano)</li>
    </ul>
</ServicesLayout>
