---
import sombrilla from "../../../assets/sombrilla.png";
import ServicesLayout from "../../../layouts/ServicesLayout.astro";
---

<ServicesLayout
    title="Servicios de inmigración: Simplificando su viaje en México"
    description="Orientación experta a través de los procesos de residencia y requisitos legales. Soluciones personalizadas para una experiencia de inmigración sin problemas en México."
    img={sombrilla}
    alt="Sombrilla"
>
    <img src="/sellos.png" alt="sellos" class="mx-auto mb-12" />
    <h2>Servicios/trámites de inmigración</h2>
    <p>
        El camino hacia la residencia en México, ya sea temporal o permanente,
        está lleno de matices legales y requisitos procesales. El equipo de PVR
        Legal se destaca en la gestión de todo el espectro de servicios de
        inmigración, desde las solicitudes iniciales de visa y renovaciones
        hasta el manejo de todos los procedimientos legales necesarios. Nuestra
        experiencia garantiza una transición sin problemas para aquellos que
        buscan hacer de Puerto Vallarta y Nuevo Nayarit su hogar o lugar de
        trabajo, afirmando nuestra reputación como el mejor proveedor de
        servicios de inmigración en el área.
    </p>
    <ul>
        <li>Residencia temporal y permanente</li>
        <li>Permiso de trabajo</li>
        <li>Servicios de naturalización y ciudadanía</li>
    </ul>
</ServicesLayout>
