---
import palmera from "../../../assets/palmera.png";
import ServicesLayout from "../../../layouts/ServicesLayout.astro";
---

<ServicesLayout
    title="Servicios corporativos: Soluciones legales para su negocio"
    description="Asistencia legal integral para empresas, incluyendo redacción de contratos, cumplimiento corporativo y asesoría fiscal. Soluciones a medida para ayudar a su empresa a prosperar en México."
    img={palmera}
    alt="Bandera de Mexico"
>
    <h2>Servicios legales corporativos</h2>

    <p>
        El compromiso de PVR Legal con su empresa se extiende más allá de la
        constitución. Nuestros servicios legales integrales para corporaciones
        en Puerto Vallarta y áreas aledañas cubren la redacción y revisión de
        contratos, consultas legales y más. Nuestro equipo garantiza que su
        empresa no solo esté protegida, sino también preparada para el
        crecimiento. Nuestra experiencia en el manejo de asuntos legales
        corporativos, combinada con nuestro profundo conocimiento del ecosistema
        empresarial de Puerto Vallarta, posiciona a PVR Legal como la firma
        líder en servicios de derecho corporativo.
    </p>
    <ul class="list-disc list-inside">
        <li>Derecho de Contratos</li>
        <li>Derecho Inmobiliario</li>
        <li>Fideicomiso</li>
        <li>Constitución de Sociedades</li>
        <li>Asambleas Ordinarias y Extraordinarias</li>
        <li>Régimen de Condominios</li>
        <li>Poderes</li>
        <li>Testamento Vital</li>
        <li>Subdivisión</li>
    </ul>
</ServicesLayout>
