---
import HeaderLink from "./HeaderLink.astro";
import LanguagePicker from "./LanguagePicker.astro";
import { getLangFromUrl, useTranslations, useTranslatedPath } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<header >
    <div class="bg-alt5">
        <div class="container mx-auto py-1 flex justify-between">
            <div class="flex gap-3">
                <a
                    href="https://www.facebook.com/pvrlegalsolutions"
                    target="_blank"
                >
                    <img
                        src="/fb.png"
                        alt="Facebook Icon"
                        width="20"
                        height="20"
                    />
                </a>
                <a href="https://www.instagram.com/pvrlegal/" target="_blank">
                    <img
                        src="/instagram.png"
                        alt="Instagram Icon"
                        width="20"
                        height="20"
                    />
                </a>
                <a href="http://www.youtube.com/@PVRLegal" target="_blank">
                    <img
                        src="/youtube.png"
                        alt="Youtube Icon"
                        width="20"
                        height="20"
                    />
                </a>
                <a
                    href="https://www.linkedin.com/company/pvrlegal"
                    target="_blank"
                >
                    <img
                        src="/linkedin.png"
                        alt="Linkedin Icon"
                        width="20"
                        height="20"
                    />
                </a>
            </div>
            <div class="flex gap-4">
                <div class="">
                    <a
                    href="tel:+523223654720"
                    target="_blank"
                    class="text-white text-sm flex items-center gap-2">
                    <img
                        src="/phone.png"
                        alt="Phone icon"
                        width="20"
                        height="20"
                    />
                    <span class="hidden md:block">
                        +52 322 365 4720

                    </span>
                    </a>
                </div>
                <div class="">
                    <a
                    href="https://wa.me/+523223747593"
                    target="_blank"
                    class="text-white text-sm flex items-center gap-2">
                    <img
                        src="/whatsapp.png"
                        alt=" icon"
                        width="20"
                        height="20"
                    />
                    <span class="hidden md:block">
                        +52 322 374 7593        
                    </span>
                    </a>
                </div>
                <div class="">
                    <a
                    href="mailto:lia@pvrlegal.com"
                    target="_blank"
                    class="text-white text-sm flex items-center gap-2">
                    <img
                        src="/email.png"
                        alt="Phone icon"
                        width="20"
                        height="20"
                    />
                        <span class="hidden md:block">lia@pvrlegal.com</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-[#1a4979] ">
        <nav class="container mx-auto flex justify-between items-center py-2">
            <a href="/"><img src="/pvr-legal-logo.png" alt="" /></a>
            <div class="hidden gap-6  md:flex">
                <HeaderLink href={translatePath('/')}>{t("nav.home")}</HeaderLink>
                <HeaderLink href={translatePath('/about/')}>{t("nav.about")}</HeaderLink>
                <a
                    id="dropdownHoverButton"
                    data-dropdown-toggle="dropdownHover"
                    data-dropdown-trigger="hover"
					data-dropdown-delay="100"
                    class="text-white text-center inline-flex items-center cursor-pointer "
					href={translatePath('/services/')}
                    type="button"
                    >{t("nav.services")}<svg
                        class="w-2.5 h-2.5 ms-2"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 10 6"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="m1 1 4 4 4-4"></path>
                    </svg>
                </a>

                <!-- Dropdown menu -->
                <div
                    id="dropdownHover"
                    class="z-20 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
                >
                    <ul
                        class="py-2 text-sm text-gray-700 dark:text-gray-200 "
                        aria-labelledby="dropdownHoverButton"
                    >
                        <li class="list-none text-sm">
                            <a
                                href={translatePath('/services/legal-services/')}
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                >{t("nav.legal")}</a
                            >
                        </li>
                        <li class="list-none text-sm">
                            <a
                                href={translatePath('/services/corporate-law-services/')}
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                >{t("nav.corporate")}</a
                            >
                        </li>
                        <li class="list-none text-sm">
                            <a
                                href={translatePath('/services/administrative-services/')}
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                >{t("nav.administrative")}</a
                            >
                        </li>
                        <li class="list-none text-sm">
                            <a
                                href={translatePath('/services/immigration-services/')}
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                >{t("nav.immigration")}</a
                            >
                        </li>
						<li class="list-none text-sm">
                            <a
                                href={translatePath('/services/tax-and-financial-services/')}
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                >{t("nav.tax")}</a
                            >
                        </li>
                    </ul>
                </div>
                <HeaderLink href={translatePath('/faqs/')}>{t("nav.faqs")}</HeaderLink>
                <HeaderLink href="#contact-us">{t("nav.contact")}</HeaderLink>
                <LanguagePicker />
            </div>
            <div class="md:hidden">
                <button>
                    <div id="btn-menu" class="z-30">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
            </div>
            <div class="mobile-nav transition-all text-2xl fixed h-screen top-0 left-0 right-0 bottom-0 bg-alt3 z-20 flex gap-4 flex-col items-center justify-center translate-x-[-100%]">
                <HeaderLink href={translatePath('/')}>{t("nav.home")}</HeaderLink>
                <HeaderLink href={translatePath('/about/')}>{t("nav.about")}</HeaderLink>
                <HeaderLink href={translatePath('/services')}>{t("nav.services")}</HeaderLink>
                <HeaderLink href={translatePath('/services/legal-services')}>{t("nav.legal")}</HeaderLink>
                <HeaderLink href={translatePath('/services/corporate-law-services')}>{t("nav.corporate")}</HeaderLink>
                <HeaderLink href={translatePath('/services/administrative-services')}>{t("nav.administrative")}</HeaderLink>
                <HeaderLink href={translatePath('/services/immigration-services')}>{t("nav.immigration")}</HeaderLink>
                <HeaderLink href={translatePath('/services/tax-and-financial-services/')}>{t("nav.tax")}</HeaderLink>
                <HeaderLink href={translatePath('/faqs/')}>{t("nav.faqs")}</HeaderLink>
                <HeaderLink href="#contact-us">{t("nav.contact")}</HeaderLink>
                <LanguagePicker />
            </div>
        </nav>
    </div>
</header>

<script  is:inline>
    document.addEventListener('astro:page-load', () => {
        
        const btnMenu = document.querySelector("#btn-menu")
        const menu = document.querySelector(".mobile-nav");
        const mobileNavLinks = document.querySelectorAll(".mobile-nav a");

        mobileNavLinks.forEach(link => {
            link.addEventListener("click", () => {
            btnMenu.classList.toggle("open");
            menu.classList.toggle("translate-x-[-100%]");
            });
        });

        btnMenu?.addEventListener("click", e => {
            e.preventDefault()
            btnMenu.classList.toggle("open")
            menu.classList.toggle("translate-x-[-100%]");
        })
    });
    
</script>
