---
const {title, description, img,alt} = Astro.props
---
<div class="relative  mb-8 py-12">
    <div
        class="w-full md:w-10/12 bg-alt rounded-br-[70px] bottom-0 absolute top-0 -z-10"
    >
    </div>
    <div class="container mx-auto flex gap-6 relative">
        <div class="md:w-1/2 flex flex-col gap-2 justify-center">
            <h1 class="text-alt8">{title}</h1>
            <p class="text-alt8 font-medium">
                {description}
            </p>
        </div>
    </div>
    <div class=" absolute z-10 right-8 md:right-20 bottom-[-100px] md:top-4">
        <img
            src={img.src}
            alt={alt}
            class="w-40 md:w-64"
            width="260"
        />
    </div>
</div>