---
import ReviewCard from "./ReviewCard.astro";

---
<div class="container mx-auto py-20">
    <h2 class="mb-6 text-alt5">Our Client Reviews</h2>
    <div class="swiper mySwiper2 ">
        <div class="swiper-wrapper ">

        <div class="swiper-slide">
            <ReviewCard name="Paul Duerden " date="April 2024">
                Working with Lia was a wonderful experience. Lia is a great communicator who clearly defined each step of the process and exactly what we would need to complete it. If I ever had a question she was very quick to reply and followed through on everything promised. Most importantly she’s a great person and clearly cares for her clients – you can’t go wrong with Lia and the PVR Legal Team.
            </ReviewCard>
        </div>
        <div class="swiper-slide">
            <ReviewCard name="Steve Walker " date="October 2024">
                I’m a lawyer myself so I was very particular hiring someone to represent my needs especially someone in another country. I can say without hesitation that Lia provides top notch representation and does excellent work. Her attention to detail and knowledge of subject matter is unmatched. Highly recommended! Thank you Lia!!

            </ReviewCard>
        </div>
        <div class="swiper-slide">
            <ReviewCard name="Thao Ngo " date="September 2024">
        Highly recommend Lia and her team!  They are top-notch immigration specialists who are well-versed in this area, which was reflected in a smooth process from beginning to end.  Lia is a joy to work with, and her strategic thinking and clear instructions during the entire process gave me confidence that I was in good hands.
               

            </ReviewCard>
        </div>
        <div class="swiper-slide">
            <ReviewCard name="Thao Ngo " date="August 2024">
        
        Lia helped me gain my permanent residency. She communicated the steps very well. Guided me every step of the way. Did the translating at the immigration department. She was awesome! I highly recommend her services! Fast and efficent and also a lovely person.
               

            </ReviewCard>
        </div>
        <div class="swiper-slide">
            <ReviewCard name="Trevor Hardwick " date="March 2024">
                My husband and I worked with Lia to write Mexican wills. She took the time to explain everything clearly and concisely. She is extremely knowledgeable of Mexican law and knows how to maneuver through the system. We were in a time crunch which Lia respected and helped us complete things in a very rapidly. She is very personal, easy to to talk with and very fast to respond to communication. We felt like we always had her full attention. Her staff are also very pleasant and went out of their way to help us. Thank you Lia. You are a gem.
            </ReviewCard>

        </div>

        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next bg-alt3 text-white rounded-full left-20 top-[410px] w-[50px] h-[50px] "></div>
        <div class="swiper-button-prev bg-alt3 text-white rounded-full left-0 top-[410px] w-[50px] h-[50px]"></div>
      </div>

</div>
<script
src="../assets/swiper.js"
></script>