---
const {name, date } = Astro.props

---
<div class="bg-alt5 p-6 rounded-md">
    <p class="text-white font-bold pb-0">
        {name}
    </p>
    <p class="text-sm text-white opacity-70 pb-2">{date}</p>
    <div class="flex gap-2 pb-3">
        <div>⭐️</div>
        <div>⭐️</div>
        <div>⭐️</div>
        <div>⭐️</div>
        <div>⭐️</div>
    </div>
    <div class="text-white">
        <slot/>
    </div>
</div>