---
import InnerPagesHero from "../../components/InnerPagesHero.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import crucero from "../../assets/crucero.png"
---

<MainLayout title="About Us" description="about us">
    <InnerPagesHero
        title="Preguntas frecuentes (FAQ)"
        description="Encuentre respuestas claras a preguntas comunes sobre nuestros servicios legales, administrativos, migratorios y financieros. Sus inquietudes, resueltas con facilidad."
        img={crucero}
        alt="Crucero"
    />
    <div class="container mx-auto my-20 flex flex-col lg:flex-row gap-12">
        <div class="lg:w-1/2">
            <img src="/faro.png" alt="Faro" width="w-full">
        </div>
        <div id="accordion-collapse" data-accordion="collapse" class="lg:w-1/2">
                <h2 id="accordion-collapse-heading-1" class="p-0">
                <button
                    type="button"
                    class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-alt rounded-t-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3"
                    data-accordion-target="#accordion-collapse-body-1"
                    aria-expanded="true"
                    aria-controls="accordion-collapse-body-1"
                >
                    <span class="text-lg roboto-condensed-regular">¿Cuáles son los beneficios de la residencia temporal o permanente?</span>
                    <svg
                        data-accordion-icon
                        class="w-3 h-3 rotate-180 shrink-0"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 10 6"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M9 5 5 1 1 5"></path>
                    </svg>
                </button>
            </h2>
            <div
                id="accordion-collapse-body-1"
                class="hidden"
                aria-labelledby="accordion-collapse-heading-1"
            >
                <div
                    class="p-5 border border-b-0 border-alt  "
                >
                    <p class="mb-2 text-gray-500 text-sm ">
                        Adquisición de una licencia de conducir del estado mexicano, que permite a los residentes comprar y registrar un automóvil en México. No hay límites en el número de días permitidos en México ni restricciones en el tiempo que se pasa fuera del país. Ahorros fiscales al vender propiedades en México. Posibilidad de obtener un permiso para trabajar como autónomo.
                    </p>
                </div>
            </div>
            <h2 id="accordion-collapse-heading-2" class="p-0">
                <button
                    type="button"
                    class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-alt focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3"
                    data-accordion-target="#accordion-collapse-body-2"
                    aria-expanded="false"
                    aria-controls="accordion-collapse-body-2"
                >
                    <span class="text-lg roboto-condensed-regular text-left">Requisitos para la doble nacionalidad/ciudadanía mexicana para descendientes de mexicanos por nacimiento</span>
                    <svg
                        data-accordion-icon
                        class="w-3 h-3 rotate-180 shrink-0"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 10 6"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M9 5 5 1 1 5"></path>
                    </svg>
                </button>
            </h2>
            <div
                id="accordion-collapse-body-2"
                class="hidden"
                aria-labelledby="accordion-collapse-heading-2"
            >
                <div
                    class="p-5 border border-b-0 border-alt dark:border-gray-700"
                >
                    <p class="mb-2 text-gray-500 dark:text-gray-400 text-sm">
                        Acta de nacimiento original del solicitante, apostillada (no mayor a 1 año). Traducción del acta de nacimiento y apostillada por traductor autorizado registrado. Actas de nacimiento originales de ambos padres (no mayor a 1 año), incluyendo información completa de los abuelos tanto por el lado materno como paterno. CURP (Clave Única de Registro de Población) del padre. Comprobante de domicilio con código postal en Vallarta. Pasaportes mexicanos o credencial de elector de ambos padres. Pago de inscripción y acta de nacimiento.
                    </p>
                </div>
            </div>
            <h2 id="accordion-collapse-heading-3" class="p-0">
                <button
                    type="button"
                    class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-alt focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3"
                    data-accordion-target="#accordion-collapse-body-3"
                    aria-expanded="false"
                    aria-controls="accordion-collapse-body-3"
                >
                    <span class="text-lg roboto-condensed-regular">¿Es seguro comprar una propiedad en pre-construcción?</span>
                    <svg
                        data-accordion-icon
                        class="w-3 h-3 rotate-180 shrink-0"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 10 6"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M9 5 5 1 1 5"></path>
                    </svg>
                </button>
            </h2>
            <div
                id="accordion-collapse-body-3"
                class="hidden"
                aria-labelledby="accordion-collapse-heading-4"
            >
                <div
                    class="p-5 border border-b-0 border-alt dark:border-gray-700"
                >
                    <p class="mb-2 text-gray-500 dark:text-gray-400 text-sm">
                        Las compras de condominios o casas antes de la construcción suelen presentar altos riesgos. Muchos compradores han perdido grandes depósitos debido a que los proyectos no se completaron a tiempo o no se completaron en absoluto. Los desarrolladores pueden solicitar hipotecas sobre la propiedad, lo que retrasa la transferencia de propiedad. Sin un título, vender la propiedad u obtener permisos de construcción se convierte en un desafío.
                    </p>
                </div>
            </div>
            <h2 id="accordion-collapse-heading-4" class="p-0">
                <button
                    type="button"
                    class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-alt focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3"
                    data-accordion-target="#accordion-collapse-body-4"
                    aria-expanded="false"
                    aria-controls="accordion-collapse-body-4"
                >
                    <span class="text-lg roboto-condensed-regular">Razones por las que se necesita un fideicomiso al comprar en una zona restringida</span>
                    <svg
                        data-accordion-icon
                        class="w-3 h-3 rotate-180 shrink-0"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 10 6"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M9 5 5 1 1 5"></path>
                    </svg>
                </button>
            </h2>
            <div
                id="accordion-collapse-body-4"
                class="hidden"
                aria-labelledby="accordion-collapse-heading-4"
            >
                <div
                    class="p-5 border border-b-0 border-alt dark:border-gray-700"
                >
                    <p class="mb-2 text-gray-500 dark:text-gray-400 text-sm">
                        Las propiedades en la zona de Bahía se encuentran en una zona restringida y no pueden ser propiedad absoluta de personas que no sean ciudadanos. Se requiere un fideicomiso con un banco como titular debido a la proximidad de la propiedad al océano.
                    </p>
                </div>
            </div>
            <h2 id="accordion-collapse-heading-5" class="p-0">
                <button
                    type="button"
                    class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-alt focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3"
                    data-accordion-target="#accordion-collapse-body-5"
                    aria-expanded="false"
                    aria-controls="accordion-collapse-body-5"
                >
                    <span class="text-lg roboto-condensed-regular">Documentos que requiere el Notario para tramitar el título de propiedad</span>
                    <svg
                        data-accordion-icon
                        class="w-3 h-3 rotate-180 shrink-0"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 10 6"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M9 5 5 1 1 5"></path>
                    </svg>
                </button>
            </h2>
            <div
                id="accordion-collapse-body-5"
                class="hidden"
                aria-labelledby="accordion-collapse-heading-5"
            >
                <div
                    class="p-5 border border-b-0 border-alt dark:border-gray-700"
                >
                    <p class="mb-2 text-gray-500 dark:text-gray-400 text-sm">
                        Pasaporte<br>
                        Documento de Legal Estancia/Residencia Temporal o Permanente<br>
                        Comprobante de domicilio vigente<br>
                        CURP<br>
                        RFC o RFC<br>
                        Acta de nacimiento<br>
                        Acta de matrimonio<br>
                        Pasaporte del beneficiario<br>
                        Contrato de promesa de compraventa (si lo hubiere)<br>
                        Extracto bancario o transferencias de pago<br>
                    </p>
                </div>
            </div>
            <h2 id="accordion-collapse-heading-6" class="p-0">
                <button
                    type="button"
                    class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-alt focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3"
                    data-accordion-target="#accordion-collapse-body-6"
                    aria-expanded="false"
                    aria-controls="accordion-collapse-body-6"
                >
                    <span class="text-lg roboto-condensed-regular">¿Qué requiere el vendedor para la exención de ganancias de capital?</span>
                    <svg
                        data-accordion-icon
                        class="w-3 h-3 rotate-180 shrink-0"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 10 6"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M9 5 5 1 1 5"></path>
                    </svg>
                </button>
            </h2>
            <div
                id="accordion-collapse-body-6"
                class="hidden"
                aria-labelledby="accordion-collapse-heading-6"
            >
                <div
                    class="p-5 border  border-alt dark:border-gray-700"
                >
                    <p class="mb-2 text-gray-500 dark:text-gray-400 text-sm">
                        Residencia mexicana con un número de identificación fiscal mexicano que figure en las facturas de Telmex, CFE o estados de cuenta bancarios. <br>
                        El tamaño del terreno no debe exceder tres veces el tamaño de la construcción en metros cuadrados. La exención solo se puede solicitar una vez cada tres años. <br>
                        La dirección del número de identificación fiscal debe ser diferente a la de la propiedad que se vende. <br>
                        Algunos notarios pueden requerir un permiso de trabajo y comprobante de pago de impuestos en México para la solicitud de exención. Cada notario puede tener sus propios criterios de calificación. <br>
                    </p>
                </div>
            </div>


        </div>
    </div>
</MainLayout>
