---
import InnerPagesHero from "../components/InnerPagesHero.astro";
import MainLayout from "./MainLayout.astro";
import { getLangFromUrl, useTranslations, useTranslatedPath } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

const { title, description, img, alt } = Astro.props;
---

<MainLayout>
    <InnerPagesHero title={title}  description={description} img={img} alt={alt}/>
    <div class="container mx-auto flex flex-col xl:flex-row gap-12 my-20">
        <div class="xl:w-2/3">
            <slot />
        </div>
        <div class="xl:w-1/3">
            <div
                class="bg-alt3 p-8 rounded-tl-[30px] rounded-[30px] sticky top-10"
            >
                <h2 class="text-3xl text-white">{t("sidebar.title")}</h2>
                <div class="text-white">
                    <a href={translatePath('/services/legal-services/')}>
                        <h3 class="text-xl capitalize">{t("nav.legal")}</h3>
                        <p class="text-sm text-white">
                            {t("sidebar.legal")}
                        </p>
                    </a>
                    <a href={translatePath('/services/corporate-law-services/')}>
                        <h3 class="text-xl ">{t("nav.corporate")}</h3>
                        <p class="text-sm text-white">
                            {t("sidebar.corporate")}
                        </p>
                    </a>
                    <a href={translatePath('/services/administrative-services/')}>
                        <h3 class="text-xl">{t("nav.administrative")}</h3>
                        <p class="text-sm text-white">
                            {t("sidebar.administrative")}
                        </p>
                    </a>
                    <a href={translatePath('/services/immigration-services/')}>
                        <h3 class="text-xl ">{t("nav.immigration")}</h3>
                        <p class="text-sm text-white">
                            {t("sidebar.immigration")}
                        </p>
                    </a>
                    <a href={translatePath('/services/tax-and-financial-services/')}>
                        <h3 class="text-xl">{t("nav.tax")}</h3>
                        <p class="text-sm text-white">
                            {t("sidebar.tax")}
                        </p>
                    </a>
                </div>
<!--                 <div class="pt-6">
                    <p class="text-white">Have questions? Contact Us</p>
                    <div class="flex flex-col text-white">
                      <a href="tel:+523223654720"
                        target="_blank"
                        class="text-white">+52 322 365 4720</a
                    >
                        <a
                        href="https://wa.me/+523223747593"
                        target="_blank"
                        class="text-white">+52 322 374 7593</a
                        >
                        <a href="mailto:lia@pvrlegal.com" target="_blank"
                            >lia@pvrlegal.com</a
                        >
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</MainLayout>
